[submodule "frontend"]
	path = frontend
	url = https://github.com/ZahraaSadeqProd/Angular-TodoApp-Frontend
[submodule "backend"]
	path = backend
	url = https://github.com/ZahraaSadeqProd/Angulat-TodoApp-Backend
